demo/src/main/app/HubSpot Connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:hubspot="http://www.mulesoft.org/schema/mule/hubspot" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/hubspot http://www.mulesoft.org/schema/mule/hubspot/1.0/mule-hubspot.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <hubspot:config name="HubSpot" callbackUrl="${callbackUrl}" clientId="${clientId}" hubId="${hubId}" scope="${scope}" doc:name="HubSpot" objectStore-ref="${objectStoreReference}"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="auth_flow" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/auth" doc:name="/auth"/>
        <hubspot:authenticate config-ref="HubSpot"  doc:name="Authenticate" userId="1" callbackUrl="${callbackUrl}" clientId="${clientId}" hubId="${hubId}" scope="${scope}"/>
    </flow>
    <flow name="auth_response_flow" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/authresponse" doc:name="/authresponse"/>
        <logger message="Payload is: #[payload]" level="INFO" doc:name="Logger"/>
        <hubspot:authenticate-response config-ref="HubSpot" inputRequest="#[payload]"  doc:name="Authenticate Response"/>
        <echo-component doc:name="Show UserId" doc:description="This ID is supposed to be stored in a temporary DB or ObjectStore and used in the calls to the process of the connector
"/>
    </flow>
    <flow name="get_all_contacts_flow" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getallcontacts" doc:name="/getallcontacts"/>
        <hubspot:get-all-contacts config-ref="HubSpot" userId="1" doc:name="Get all contacts"/>
    </flow>
    <flow name="HubSpot_ConnectorFlow1" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/getcontactbyid" doc:name="/getcontactbyid"/>
        <hubspot:get-contact-by-id config-ref="HubSpot" contactId="2" userId="1" doc:name="Get contact by Id"/>
    </flow>
    <flow name="update_contact_flow" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/updatecontact" doc:name="/updatecontact"/>
        <hubspot:update-custom-property config-ref="HubSpot"  contactJson="{&quot;properties&quot;:[{&quot;property&quot;: &quot;firstname&quot;, &quot;value&quot;: &quot;MuleUpdated&quot;}, {&quot;property&quot;: &quot;lastname&quot;, &quot;value&quot;: &quot;Muleeeeeeee&quot;}]}" userId="1" doc:name="Update Contact" propertyName=""/>
    </flow>
</mule>
